//Primary Colors
$primary_skyblue: #93DEFF;
$primary_white: #FFFFFF;
$primary_dark: #323643;
$primary_gray: #606470;
$primary_blue: #455FB9;

//Secondary Colors
$secondary_skyblue: #34B1E7;
$secondary_white: #F7F7F7; //Backgrounds
$secondary_gray: #6C757D; 
$secondary_gray_200: #989398;

//Basics
$black: #000000;

//Others
$gray_dimmed: #DFDFDF; //Minimal Borders