.about-hero {
    background-image: url(../img/about-hero.jpg);
    background-size: cover;
    background-position: center center;
    height: 35.93rem;
    width: 100%;
    
    .about-hero-cont {
        width: inherit;
        height: inherit;
        position: absolute;
        color: #ffffff;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        justify-content: center;
        
        p, h2 {
            color: #ffffff;
            margin: 1rem auto 1rem 5rem;
        }

        h2 {
            font-size: 2.8rem;
            font-weight: bold;
        }

        p {
            font-size: 1.5;
            width: 30%;
        }

    }
}

.about-history-container {
    width: 100%;
    margin: 5rem 12rem;
    margin-left: -2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;


    .about-history-text {
        margin-left: 15rem;
        margin-right: 4rem;
        text-align: justify ;

        h2 {
            font-size: 4rem;
        }

        hr {
            border: 0;
            height: .3rem;
            background: #93DEFF;
            opacity: 100;
            padding: 0;
            width: 31.5rem;
            margin-top: -.5rem;
        }

        p {
            margin-top: 2rem;
            font-size: 1rem;
        }
    }

    img {
        margin-top: 2.8rem;
        margin-right: -5rem;
        height: 25rem;
        width: 38rem;
        align-items: center;
        
    }
}

.about-impact-container {
    background-image: url(../img/about-down.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width: 100%;
    padding: 1.25rem;
    position: relative;
    margin-top: 15rem;
    
    .about-impact-bg {
        width: inherit;
        height: inherit;
        position: relative;
    }
    .about-impact-text {
        position: absolute;
        background-color: rgb(68, 71, 85);
        left: 20rem;
        bottom: 50%;
        width: 35rem;
        text-align: justify;
        padding: 2rem;
        border-radius: .5rem;
        color: #ffffff;

        h2 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.about-valors-container {
    .about-valors-main-title {
        text-align: center;
        font-size: 2rem;
        margin: 4rem 6rem auto;
    }

    hr {
        border: 0;
        height: .3rem;
        background: #93DEFF;
        opacity: 100;
        padding: 0;
        margin: auto;
        width: 17rem;
    }

    .about-valors-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        margin: 3rem 2rem 4rem 4rem;

        .about-valors-card-cont {
            text-align: center;
            overflow: hidden;
            padding: 2rem;
            border-radius: 0.3125rem;
            margin-right: 1rem;
            box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.315);

            .about-valors-icon {
                color: #455FB9;
                font-size: 3rem;
            }

            .about-valors-title {
                color: #455FB9;
                font-size: 1.375rem;
            }

            .about-valors-desc {
                color: #7c7c7c;
                font-size: 0.875rem;
            }
        }
    }
    
}

@media(max-width:915px){
    .about-valors-grid{
        margin: auto;
        flex-direction: column;
        
        .about-valors-card-cont{
            margin-bottom: 1rem;
            height: 30%;
            width: 50%;
        }
    }
}