// Variables
$color_white: #fff;
$font_family: 'Poppins', sans-serif;


// ----

.acc-hero {
    background-image: url(../img/acc/acc_main_banner1.jpg);
    background-size: cover;
    background-position: center center;
    height: 35.93rem;
    width: 100%;
   

    .acc-hero-cont {
        width: inherit;
        height: inherit;
        position: absolute;
        color: #ffffff;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: $color_white;
            font-size: 1.5rem;
        }

        h1 {
            color: $color_white;
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

.post-hero-container {
    .post-hero-info {
        p:first-child {
            text-align: center;
            font-size: 1.8rem;
            margin: 2rem auto 0 auto;
        }

        hr {
            border: 0;
            height: .3rem;
            background: #93DEFF;
            opacity: 100;
            padding: 0;
            margin: auto;
            width: 10rem;
        }
    }

    .acc-container {
        background: rgba(255, 255, 255, .90);
        border: 0.0625rem solid rgba(0,0,0,.125);
        border-radius: 0.3125rem;
        margin: 3rem auto 4rem;
        text-align: center;
        overflow: hidden;
        height: 21.875rem;
        width: 68.75rem;
        transition: all .5s ease;

        .acc-details {
            position: relative;
            text-align: left;
            overflow: hidden;
            padding: 1.875rem;
            height: 100%;
            float: left;
            width: 40%;

            h1 {
                display: inline-block;
                position: relative;
                font-size: 1.875rem;
                margin: 0;
            }

            .acc-desc {
                font-size: 1.125rem;
                color: #989398;
            }

            .acc-feature {
                padding-left: 2rem;
            }

            .acc-button {
                background-color: #455FB9;
                display: inline-block;
                padding: 0.5rem;
                margin-top: 2rem;
                transition: all .2s ease;

                span {
                    color: $color_white;
                }
            }

            .acc-button:hover {
                filter: brightness(150%);
                transition: all .2s ease;
            }
            
        }

        .acc-img {
            background-size: cover;
            width: 60%;
            height: 100%;
            display: inline-block;
            transition: all .3s ease-out;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .acc-container:hover {
        box-shadow: 0 .5rem 1.5rem 1rem grey;
        transform: translateY(-0.3125rem);
        transition: all .5s ease-in-out;
    }
}

@media(max-width:1929px){
    .corrienteButton{
        transform: translateY(-1.5rem);
    }
}

@media (max-width:1150px){

    
    .post-hero-container .acc-container{
        width: 58.75rem;
    }

    .corrienteButton{
        transform: translateY(-1.4rem);
    }

    .ahorroButton{
        transform: translateY(-2.5rem);
    }
}

@media (max-width: 975px){
    .post-hero-container .acc-container{
        width: 50rem;
    }

    .post-hero-container  .acc-container .acc-details h1{
        font-size: 1.5rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-desc{
        font-size: 0.8rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-feature{
        font-size: 1rem;
        padding-left: 0.8rem;
    }

    .post-hero-container  .acc-container .acc-img img{
       
        height: 100%;
    }

    .corrienteButton{
        transform: translateY(-1.8rem);
    }

    .ahorroButton{
        transform: translateY(-1.5rem);
    }
}

@media (max-width:805px){
    .post-hero-container .acc-container{ 
        width: 45rem;
    }

    .post-hero-container  .acc-container .acc-details h1{
        font-size: 1.2rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-desc{
        font-size: 0.8rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-feature{
        font-size: 0.9rem;
        padding-left: 0.8rem;
    }

    .corrienteButton{
        transform: translateY(-1.5rem);
    }

    .ahorroButton{
        transform: translateY(-.3rem);
    }
}

@media (max-width:730px){
    .post-hero-container .acc-container{ 
        width: 40rem;
    }

    .corrienteButton{
        transform: translateY(-2.4rem);
    }

    .ahorroButton{
        transform: translateY(-2.3rem);
    }
}

@media (max-width:645px){
    .post-hero-container .acc-container{ 
        width: 38rem;
    }
}

@media (max-width:615px){
    .post-hero-container .acc-container{ 
        width: 35rem;
    }

    .post-hero-container  .acc-container .acc-details h1{
        font-size: 1.1rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-desc{
        font-size: 0.75rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-feature{
        font-size: 0.8rem;
        padding-left: 0.7rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button{
        padding: 0.4rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button span{
        font-size: 0.95rem;
    }

    .corrienteButton{
        transform: translateY(-1rem);
    }

    .ahorroButton{
        transform: translateY(-2.3rem);
    }
}

@media (max-width: 565px){
    .post-hero-container .acc-container{ 
        height: 20rem;
        width: 33rem;
    }

    .post-hero-container  .acc-container .acc-details h1{
        font-size: 1rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-desc{
        font-size: 0.65rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-feature{
        font-size: 0.7rem;
        padding-left: 0.6rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button{
        padding: 0.3rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button span{
        font-size: 0.85rem;
    }

    .corrienteButton{
        transform: translateY(-1.5rem);
        
    }

    .ahorroButton{
        transform: translateY(-2.4rem);
    }
}

@media(max-width:530px){
    .post-hero-container .acc-container{
        width: 30rem;
        height: 18rem;
    }

    .post-hero-container  .acc-container .acc-details h1{
        margin-left: -.5rem;
        font-size: 0.8rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-desc{
        margin-left: -.5rem;
        font-size: 0.55rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-feature{
        font-size: 0.6rem;
        padding-left: 0.4rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button{
        padding: 0.2rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button span{
        font-size: 0.75rem;
    }

    .corrienteButton{
        margin-left: -.5rem;
        transform: translateY(-2.5rem);
    }

    .ahorroButton{
        margin-left: -.5rem;
        transform: translateY(-1.7rem);
    }
}

@media (max-width:480px){
    .acc-hero .acc-hero-cont p{
        font-size: 1.2rem;
    }
}

@media (max-width:475px){
    .post-hero-container .acc-container{
        width: 25rem;
        height: 18rem;
    }

    .post-hero-container  .acc-container .acc-details h1{
        margin-left: -.5rem;
        font-size: 0.7rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-desc{
        margin-left: -.5rem;
        font-size: 0.45rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-feature{
        font-size: 0.6rem;
        padding-left: 0.2rem;
        margin-left: -0.4rem;
    }

    .post-hero-container  .acc-container .acc-details .acc-button span{
        font-size: 0.6rem;
    }

    .corrienteButton{
        margin-left: -.5rem;
        transform: translateY(-2rem);
    }

    .ahorroButton{
        margin-left: -.5rem;
        transform: translateY(-2rem);
    }
}
