body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.credit-card-tittle p {
    text-align: center;
    margin: 4rem auto 0 auto;
    font-size: 1.8rem;
}
.credit-card-tittle hr {
    border: 0;
    height: .3rem;
    background: #93DEFF;
    opacity: 100;
    padding: 0;
    margin: auto;
    width: 15rem;
}
.cards-banner-container{
    width: 100%;
    height: 35.93rem;
    background-image: url(../img/credit_cards/cards-banner.jpg);
    background-size: cover;
    background-position: center center;
    .cards-banner-content{
        width: inherit;
        height: inherit;
        position: absolute;
        color: #ffffff;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ccard-icon{
            font-size: 3.375rem;
        }

        h1{
            font-size: 3rem;
            font-weight: bold;
            margin: 1.25rem auto 1.25rem auto ;
        }

        p {
            font-size: 1.5rem;
        }
    }
}


.cards-flexbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 2rem 0 5rem 0;

    hr{
        border: 0;
        background-color: #000000;
        width: 80%;
        height: 0.0625rem;
        margin: 2.5rem auto;
    }
    .individual-card-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
    
        .card-information{
            display: grid;
            grid-template-columns: 25% 20% 43% 12%;
            padding: 1rem 0;

            .card-image img{
                width: 250px;
                
            }

            .card-tittle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p:nth-of-type(1){
                    font-size: 1.125rem;
                    font-weight: 600;

                    .registered-icon{
                        margin: 0;
                        font-weight: 100;
                    }
                }
            }

            .card-details{
                padding: 0 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 0.875rem;
            }
            .card-details p span{
                margin-right: 0.625rem;
            }
            .card-button{
                display: flex;
                align-items: center;

                .more-details-bt {
                    display: inline-flex;
                    align-items: center;
                    opacity: 0.9;
                    color: #34b1e7;
                    font-size: 0.938rem;
                    text-decoration: none;
                    transition: all .5s ease;
                    margin-left: 6%;
                }
                .more-details-bt .more-details-bt-icon {
                    opacity: 0.9;
                    color: #34b1e7;
                    transition: all .2s ease;
                }
                
                .more-details-bt:hover {
                    opacity: 1;
                    color: #34b1e7;
                    transition: all .5s ease;
                }
                
                .more-details-bt:hover .more-details-bt-icon {
                    opacity: 1;
                    color: #34b1e7;
                    transform: translateX(3px);
                    transition: all .3s ease;
                }
            }
        }
    }
}
.cards-flexbox:last-of-type{
    margin-bottom: 15rem;
}

@media (max-width: 1295px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -.5rem;
    }
}

@media (max-width: 1250px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -1rem;
    }
}

@media (max-width: 1210px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -1.5rem;
    }
}

@media (max-width: 1150px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -2rem;
    }
}

@media (max-width: 1120px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -2.5rem;
    }
}

@media (max-width: 1075px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -3rem;
    }
}

@media (max-width: 1030px){

    .cards-flexbox hr{
        width: 90%;
    }
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -3.5rem;
    }

    .platinumCard{
        transform: translateY(1rem);
    }

    .goldCard{
        transform: translateY(2rem);
    }

    .blackCard{
        transform: translateY(3.5rem);
    }
}

@media (max-width: 1010px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-left: -4rem;
    }
}

@media (max-width: 875px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-top: 2rem;
        width:13rem
    }

    .blackCard{
        transform: translateY(2.5rem);
    }

    .debitCard{
        transform: translateY(-1rem);
    }
}


@media (max-width: 830px) { 

    .card-tittle p{
        transform: translateX(2.5rem);
        font-size: 1rem;
    }

    .card-details{
        margin-left: 2.5rem;
    }

    .card-button{
        margin-left: 3rem;
    }

    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-top: 2.5rem;
    }

    .cards-flexbox hr{
        width: 93%;
    }

    .classicCard{
        transform: translateY(-.5rem);
    }

    .platinumCard{
        transform: translateY(.2rem);
    }

    .goldCard{
        transform: translateY(1rem);
    }

    .blackCard{
        transform: translateY(1rem);
    }
}

@media(max-width: 760px){
    .classicCard{
        transform: translateY(.5rem)
    }
    
    .platinumCard{
        transform: translateY(.8rem);
    }

    .goldCard{
        transform: translateY(2.8rem);
    }

    .blackCard{
        transform: translateY(4.5rem);
    }

    .debitCard{
        transform: translateY(.5rem);
    }
}

@media (max-width: 690px){
    .card-details p{
        transform: translateX(1.5rem);
        font-size: 0.8rem;  
    }

    .card-tittle {
        transform: translateX(1rem);
    }

    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-top: 3rem;
        width: 14.5rem;
    }

    .cards-flexbox hr{
        width: 95%;
    }

    .classicCard{
        transform: translateY(-1.1rem);
    }

    .platinumCard{
        transform: translateY(1rem);
    }

    .goldCard{
        transform: translateY(1.8rem);
    }

    .blackCard{
        transform: translateY(2.5rem);
    }

    .debitCard{
        transform: translateY(-1rem);
    }
}

@media(max-width: 620px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        width: 12rem;
    }

    .classicCard{
        transform: translateY(1.2rem);
        margin-left: 1.7rem;
    }

    .platinumCard{
        transform: translateY(2.2rem);
        margin-left: 1.7rem;
    }

    .goldCard{
        transform: translateY(2.8rem);
        margin-left: 1.7rem;
    }

    .blackCard{
        transform: translateY(4.2rem);
        margin-left: 1.7rem;
    }

    .debitCard{
        transform: translateY(-.2rem);
        margin-left: 1.7rem;
    }

    .card-button{
        margin-left: 1rem;
    }

}

@media (max-width:590px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        margin-top: 4rem;
        margin-left: 0.5rem;
        width: 12rem;
    }

    .card-tittle{
        margin-left: -1rem;
    }

    .cards-flexbox .individual-card-container .card-information .card-tittle p:nth-of-type(1){
        font-size: 1rem;
    }

    .card-tittle p{
        font-size: 0.8rem;
    }

    .card-details{
        transform: translateY(.5rem);
        margin-left: .2rem;
        margin-right: -2.5rem;
    }
  
    .card-button .more-details-bt span{
        font-size: .75rem;
    }
    
}

@media (max-width:595px){

    .card-tittle{
        margin-left: -2rem;
    }

    .card-details{
        transform: translateX(1.5rem);
        margin-top: 1.5rem;
        margin-left: -1rem;
    }

    .cards-flexbox .individual-card-container .card-information .card-image img{
        width: 11rem;
        transform: translateX(1.2rem);
    }

    .classicCard{
        transform: translateY(2.2rem);
    }

    .classicCard{
        transform: translateY(0.5rem);
    }

    .goldCard{
        transform: translateY(2.2rem);
    }

    .debitCard{
        transform: translateY(0.8rem);
    }

    .card-button{
        margin-left: 2.5rem;
    }

    .card-button span{
        font-size: 0.85rem;

    }
}

@media (max-width: 588px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        width: 9.5rem;
        transform: translateX(-5.5rem);
    }

    .cards-flexbox .individual-card-container .card-information .card-tittle p:nth-of-type(1){
        font-size: .75rem;
        margin-right: 2rem;
    }

    .card-tittle .mastercard{
        margin-right: 2rem;
    }
    
    .card-tittle{
       transform: translateX(-1rem); 
    }

    .card-details{
        transform: translateX(-2rem);
    }

    .classicCard{
        transform: translateY(.2rem);
    }

    .platinumCard{
        transform: translateY(.5rem);
    }

    .goldCard{
        transform: translateY(1.5rem);
    }

    .blackCard{
        transform: translateY(1.5rem );
    }

    .debitCard{
        transform: translateY(-1.2rem);
    }
}

@media (max-width: 465px){
    .cards-flexbox .individual-card-container .card-information .card-image img{
        width: 9.4rem;
        transform: translateX(-3.2rem);
    }

    .cards-flexbox .individual-card-container .card-information .card-tittle p:nth-of-type(1){
        font-size: .75rem;
    }

    .card-tittle p{
        font-size: .7rem;
    }

    .card-tittle{
        transform: translateX(0.5rem);
        margin-right: 1rem;
        margin-top: 1rem;
    }


    .card-details p{
        margin-left: -1.7rem;
        margin-right: 3rem;
        font-size: .7rem;
    }

    .card-button{
        margin-left: 1.7rem;
    }
    
    .tittleDebit{
        margin-right: 1rem;
    }

    
    .classicCard{
        transform: translateY(-.1rem);
    }

    .platinumCard{
        transform: translateY(.5rem);
    }

    .goldCard{
        transform: translateY(1.5rem);
    }

    .blackCard{
        transform: translateY(1.5rem);
    }

    .debitCard{
        transform: translateY(.1rem);
    } 
}


