.error{
    width: 90rem;
    height: 50rem;
    margin: auto;
    margin-top: 4rem;
}
.error-text{
    width: 50rem;
    float: right;
}
.error h1{
    text-align: center;
    font-size: 80pt;
}

.h1{
    display: flex;
}
.error-text p{
    margin-top: 8rem;
    margin-left: 4rem;
    font-size: 27pt;
    text-align: justify;
}

.error img{
    float: left;
    margin-left: -10rem;
    margin-top: -19rem;
    height: 40rem;
    
}
.p{
    font-size: 20rem;
}

.botonx{
    background-color:#323643;
  color: #fff;
  width: 9rem;
  height: 4rem;
  float: left;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 5rem ;
  border: none;
  font-size: 19pt;
}
.botonx:hover{
    -ms-transform: scale(1.03); 
  -webkit-transform: scale(1.03); 
  transform: scale(1.03);
}