.baners {
    background-image: url(../img/banner/empresarios.jpg);
    background-size: cover;
    width: 100%;
    height: 35rem;
    position: relative;

}
.subtitles{
    text-align: center;
    margin: 1rem auto 0 auto;
    font-size: 1.8rem;}

.baners-content {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.title{
    font-size: 3rem;
            font-weight: bold;
            margin: 1.25rem auto 1.25rem auto ;
}
.title2 hr{
    border: 0;
    height: .3rem;
    background: #93DEFF;
    opacity: 100;
    padding: 0;
    margin: auto;
    width: 15rem;
    font-weight: bold;
}

.title2 p{
    text-align: center;
    margin: 2rem auto 0 auto;
    font-size: 1.8rem;
}
.arrow{
    display: block;
    margin: 0 auto;
    font-size: 3.375rem;
}

.infor{
    text-align: center;
    font-size: 12pt;
    margin-left: 6rem;
    margin-right: 6rem;
}
.ico{
    font-size: 3.5rem;
}
.content-icon{
    position: relative;
    float: left;
    border-right:  solid rgb(202, 202, 202);
    margin-left: 8rem;
    width: 30rem;
    height: 5rem;
}

.list{
    text-align: center;
    margin-right: 8rem;
    font-size: 13pt;
}
.accT_benefits-containers {
    .accT_benefits-grids {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin: 3rem 6rem 4rem;

        .accT_benefits-card-conts {
            
            text-align: center;
            overflow: hidden;
            height: 100%;
            padding: 2rem;
            border-radius: 0.3125rem;
            margin: 0 1rem 0 1rem;
            box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.315);

            .accT_benefits-icons {
                color: #455FB9;
                font-size: 3rem;
            }

            .accT_benefits-titles {
                color: #455FB9;
                font-size: 1.375rem;
            }

            .accT_benefits-descs {
                color: #7c7c7c;
                font-size: 14px;
            }
        }
    }
}