@use '../../../../utilities' as *;

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/* ====Globals==== */
::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.3rem;
    box-shadow: inset 0 0 0.625rem rgba(0, 0, 10, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #989ba4;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(68, 71, 85);
}

.section-tittle{
    margin-top: -4.8rem;
}

.section-tittle p {
    margin: 2rem auto 0 auto;
    font-size: 1.8rem;
    text-align: center;
}

.section-tittle hr {
    border: 0;
    height: .3rem;
    background: $primary_skyblue;
    opacity: 100;
    margin: .5rem auto 2rem auto;
    width: 15rem;
}

.section-tittle .smallest {
    width: 8rem;
}

.white-uderline {
    opacity: 1;
    border: 1px solid $primary_white;
    background: $primary_white;
    width: 15rem;
    margin: 1rem auto;
}

.blue-underline {
    opacity: 1;
    width: 90%;
    border: 1px solid $primary_skyblue;
    background: $primary_skyblue;
    margin: .5rem 0 1rem 0;
}

.blue-underline-2 {
    opacity: 1;
    border: 1px solid $primary_skyblue;
    background: $primary_skyblue;
    width: 15rem;
    margin: 0;
}

.blue-underline-3 {
    opacity: 1;
    border: 1px solid $primary_skyblue;
    background: $primary_skyblue;
    width: 8rem;
    margin: 0;
}

.view-more-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: .5rem auto;
    padding: .5rem 1rem;
    color: $primary_white;
    border: 1px solid $primary_white;
    transition: all .5s ease;
}

.view-more-button:hover {
    color: $primary_white;
    background: rgba(0, 0, 0, 0.689);
    transition: all .5s ease;
}

.view-more-button:hover .view-more-icon {
    transform: translateX(5px);
    transition: all .5s ease;
}

.view-more-icon {
    margin-left: .2rem;
    transition: all .3s ease;
}

.about-button-rg {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    color: $black;
    font-size: 0.938rem;
    text-decoration: none;
    transition: all .5s ease;
}

.about-button-rg .about-button-rg-icon {
    color: $black;
    margin-left: 0rem;
    transition: all .2s ease;
}

.about-button-rg:hover {
    color: $secondary_skyblue;
    transition: all .5s ease;
}

.about-button-rg:hover .about-button-rg-icon {
    color: $secondary_skyblue;
    transform: translateX(3px);
    transition: all .3s ease;
}

/*===Slider====*/

.Contenedor-Slider{
    width: 100%;
    transform: translateY(-5rem);
}

.slider-container{
    display: flex;
    width: 100%;
    margin: 4rem auto;
    overflow: hidden;
}

.box {
    border-top: 35rem solid $primary_dark;
    border-left: 30rem solid $primary_dark;
    border-right: 21.875rem solid transparent;
    width: 0;
    height: 6.25rem;
    position: absolute;
    z-index: 99;
}

.linea {
    background-color: $primary_skyblue;
    width: 5rem;
    height: 0.0625rem;
    margin-top: -0.9375rem;
    margin-bottom: 0.625rem;
    margin-left: -24.6875rem;
}

.slidertext {
    font-size: 2.5rem;
    color: $primary_white;
    margin-top: -25rem;
    margin-left: -25rem;
}

.parrafo {
    font-size: 0.9375rem;
    margin-left: -24.6875rem;
    margin-right: -5.625rem;
    color: $primary_white;
}

.slider-button {
    width: 9rem;
    background-color: $primary_skyblue;
    border: 1.5px solid rgba(118, 118, 118, 0.8);
    padding: .3rem .5rem;   
    transition: .5s;
    margin-top: 3.125rem;
    margin-left: -5rem;
    display: flex;
    justify-content: center;

    .slider-link{
        width: 95%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .view-text{
            color: $primary_dark;
        }
        .slider-icon{
            color: $primary_dark;
            margin-left: 0.5rem;
        }
        


    }
}

@media screen and (max-width:970px){
    .Contenedor-Slider{
        width: 100%;
    }

    .box{
        border-top: 30rem solid $primary_dark;
        border-left: 12rem solid $primary_dark;
        border-right: 13rem solid transparent;
    }

    .slider-container{
        transform: translateY(-1rem);
        margin-left: 1rem;
        max-width: 100%;
        height: 31rem; 
    }
    .slidertext{
        font-size: 1.5rem;
        margin-left: -11.5rem;
        transform: translateY(4.5rem);
    }

    .linea{
        width: 5rem;
        height: .1rem;
        margin-top: 5rem;
        margin-left: -11.5rem;
    }

    .parrafo{
        font-size: .8rem;
        margin-left: -11.5rem;
    }

    .slider-button{
        width: 6rem;
        height: 2rem;
        margin-left: -11.5rem;
    }

    .view-text{
        font-size: .65rem;
        margin-left: -0.7rem;
    }

}

@media screen and (max-width:680px) {
    .slider-container{
        transform: translateY(-1rem);
        margin-left: 1rem;
        max-width: 100%;
        height: 26rem; 
    }

    .box{
        border-top: 25rem solid $primary_dark;
        border-left: 8rem solid $primary_dark;
        border-right: 16rem solid transparent;
    }

    .slidertext{
        font-size: 1.5rem;
        margin-left: -7.62rem;
        transform: translateY(5.5rem);
    }

    .linea{
        width: 5rem;
        height: .1rem;
        margin-top: 6rem;
        margin-left: -7.5rem;
    }

    .parrafo{
        font-size: .8rem;
        margin-left: -7.5rem;
    }

    .slider-button{
        width: 6rem;
        height: 2rem;
        margin-left: -7.5rem;
    }

    .view-text{
        font-size: .65rem;
    }
}

/* ====Main==== */
/* ====Cards==== */
.cards-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25rem;
    width: 23%;
    padding: 1rem;
    border-radius: 8px;
    transition: all .5s ease;
    border: 1px solid #dfdfdf;
}

.card h4 {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 2rem;
}

.card .LinkHover {
    color: $black;
    transition: color .5s ease;
}

.card .LinkHover .ArrowIcon {
    color: $black;
    transition: all .3s ease;
}

.card:hover {
    transition: all .5s ease;
    transform: translateY(-5px);
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.132);
    border-color: transparent;
}

.card .LinkHover:hover {
    color: $secondary_skyblue;
    transition: all .5s ease;
}

.card .LinkHover:hover .ArrowIcon {
    color: $secondary_skyblue;
    transform: translateX(3px);
    transition: all .3s ease;
}

.card img {
    margin-bottom: 1rem;
    width: 8rem;
}

/*====Banners====*/
.dual-banner-container {
    margin: 5rem auto 5rem auto;
}

.dual-banner {
    display: flex;
    width: 90%;
    height: 15rem;
    background-color: #f7f7f7;
    margin: 0 auto 2rem auto;
    // box-shadow: 0 0px 16px rgba(0, 0, 0, 0.132);
    border: 1px solid #dfdfdf;
}

.dual-banner .dual-banner-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
}

.dual-banner .dual-banner-content p:first-child {
    font-size: 1.6rem;
    margin: 0;
}

.dual-banner .dual-banner-content p:last-child {
    font-size: 0.8rem;
}

.dual-banner .dual-banner-image-1 {
    background-image: url(../img/index/dual-banner_1.jpg);
    background-position: center center;
    background-size: cover;
    background-position: center 30%;
    width: 50%;
}

.dual-banner .dual-banner-image-2 {
    background-image: url(../img/index/dual-banner_2.jpg);
    background-position: center center;
    background-size: cover;
    background-position: center 85%;
    width: 50%;
}

.help-center-banner {
    position: relative;
    margin: 0 auto 4rem auto;
    background-image: url(../img/index/help-center_banner.jpg);
    background-position: center 80%;
    background-size: cover;
    height: 25rem;
    width: 90%;
}

.help-center-content {
    font-size: 16px;
    position: absolute;
    background: linear-gradient(180deg, rgba(54, 54, 54, 0.414) 0%, rgba(57, 57, 57, 0.414) 35%, rgba(105, 105, 105, 0.414) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-logo {
    width: 4em;
}

.banner-tittle {
    font-size: 2.5rem;
    color: $primary_white;
}

.banner-tittle p {
    margin: 2rem auto 0 auto;
}

.help-banner-information {
    width: 70%;
    text-align: center;
    color: $primary_white;
}

.buisness-banner {
    height: 25rem;
    width: 90%;
    margin: auto;
    display: flex;
    margin: 2rem auto 4rem auto;
}

.buisness-banner .row-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: $primary_dark;
}

.buisness-banner .row-content p:first-of-type {
    color: $primary_white;
    font-size: 1.375rem;
}

.buisness-banner .row-content p:last-of-type {
    color: #eeeeee;
    font-size: 0.875rem;
    text-align: center;
    margin: 2rem;
}

.buisness-banner .row-image {
    background-image: url(../img/index/buisness_banner.jpg);
    background-position: center center;
    background-size: cover;
    width: 50%;
}

.about-banner {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 25rem;
    margin: 0 auto 5rem auto;
    background-image: url(../img/index/about_banner.jpg);
    background-position: center 20%;
    background-size: cover;
}

.about-banner-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.829);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 18rem;
    width: 28%;
    margin-left: 1.25rem;
}

.about-banner-content p:first-of-type {
    font-size: 1.375rem;
    margin: 0 auto .5rem auto;
}

.about-banner-content p:last-of-type {
    font-size: 0.875rem;
    padding: .5rem;
}

@media (max-width: 768px) {
    .cards-container {
        margin: auto;
        flex-direction: column;
    }

    .card {
        width: 70%;
        margin: 2% auto;
    }

    .card img {
        width: calc(1vw + 100px);
    }

    .slider-item-text-container {
        width: 100%;
        margin: 0;
        height: 50%;
        position: absolute;

    }
}

@media (max-width:830px){

    .section-tittle p{
        font-size: 1.5rem;
    }
    .dual-banner .dual-banner-content p:first-child {
        font-size: 1.4rem;
        margin: 0;
    }

    .dual-banner p{
        font-size: 0.85rem;
    }

    .about-button-rg span{
        font-size: 0.85rem;
    }

    .buisness-banner .row-content p:first-child{
        font-size: 1.2rem;
        text-align: center;
    }

    .about-banner-content{
        width: 40%;
    } 

    .about-banner-content p:first-child {
        font-size: 1.25rem;
        padding: .5rem;
    }

    .about-banner-content p:last-of-type {
        font-size: 0.75rem;
        padding: .5rem;
    }
}

@media (max-width:675px){
    .buisness-banner .row-content p:first-child{
        font-size: 1.1rem;
        text-align: center;
    }

    .buisness-banner .row-content p:last-of-type{
        font-size: 0.82rem;
    }

    .buisness-banner .view-more-button span{
        font-size: 1rem;
    } 
}

@media (max-width:560px){

    .buisness-banner .blue-underline-2{
        width: 12rem;
    }

    .dual-banner .dual-banner-content p:first-child {
        font-size: 0.95rem;
        margin: 0;
    }

    .dual-banner .dual-banner-content p:last-of-type {
        font-size: 0.8em;
    }

    .help-center-banner .banner-logo{
        transform: translateY(1rem);
    }

    .help-center-banner .banner-tittle{
        font-size: 1.5rem;
    }

    .help-center-banner .help-banner-information{
        font-size: 0.9rem;
    }

    .buisness-banner .row-content p:first-child{
        font-size: 0.95rem;
        text-align: center;
    }
    
    .buisness-banner .row-content p:last-of-type{
        font-size: 0.75rem;
    }
}

@media (max-width: 470px){
    .dual-banner .dual-banner-content p:first-child {
        font-size: 0.8rem;
        margin: 0;
    }

    .dual-banner .dual-banner-content p:last-of-type{
        font-size: 0.75rem;
    }

    .buisness-banner .row-content p:first-child{
        font-size: 0.9rem;
        margin: 0.3rem;
        margin-bottom: 1rem;
    }
}