@use '../../../../../utilities/_colors.scss' as *;

.contacts-main-div {
  .divs-contact {
    padding: 1%;
    background-color: #ffffff;
    border-radius: 0.50rem;
    box-shadow: 1px 2px 10px 0.8px rgba(0, 0, 0, .3);

    h2 {
      text-align: center;
    }
  }

  .container-contact-input {
    // background-color: black;
    height: 3rem;

  }

  .input-contact-dui {
    height: 100%;
    margin: 0;
    outline: none;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border: 1px solid $primary_gray;

    &:focus {
      border-color: $primary_dark;
    }

    &:hover {
      border-color: $primary_dark;

    }
  }

  // Big Div
  .contacts-big-div {}


}

.loading-icon {
  color: $primary_gray;
}

.line-contacts {
  background-color: $primary_gray;
  height: 0.2ex;
  margin-top: 0.6rem;
}

.boton-contacts {
  background-color: #000;
  height: 100%;
  border: none;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  transition: 0.25s ease-out;
  outline: none;

  svg {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.25s ease-out;


  }

  &:hover {
    background-color: $primary_dark;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.searched-contacts {
  // background-color: #666;

  height: 90%;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-custom {
  animation: spin 3s forwards infinite;
}