.contacts-main-div {
  .divs-contact {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 1px 2px 10px 0.8px rgba(0, 0, 0, .3);

    h2 {
      text-align: center;
    }
  }

  // Big Div
  .contacts-big-div {}

}