@use '../../../../../utilities/_colors.scss' as *;

.header-icons-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1% auto 1% auto;

    .user-info {
        .profile-img {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}

.header-icon {
    color: $primary_white;
    transition: .2s;
    cursor: pointer;
}

.hi-hover-1:hover {
    color: $secondary_white;
    transition: .2s;
    animation: 2s bell-vibrate ease-in-out infinite;
}

.punto-notificacion {
    position: absolute;
}

@keyframes bell-vibrate {
    0% {
        transform: rotate(0);
    }

    4% {
        transform: rotate(8deg);
    }

    8% {
        transform: rotate(-8deg);
    }

    12% {
        transform: rotate(8deg);
    }

    16% {
        transform: rotate(-8deg);
    }

    20% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}


.hi-hover-2:hover {
    transform: rotate(55deg);
    color: $secondary_white;
    transition: .2s;
}

.separate hr {
    border-style: none;
    height: 70%;
    background-color: $primary_white;
    width: 1px;
    opacity: 100;
}