.black-line {
    border: 0;
    height: .4rem;
    width: 75%;
    background: #323643;
    opacity: 100;
    padding: 0;
    margin: .7rem auto 1.3rem auto;
}

.menu-items {

    .menu-item {
        color: #868786;
        transition: .2s;
        .menu-icon{
            font-size: 2.2rem;
            color: #868786;
        }
    }
    .menu-item:hover{
        box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.246);
        transition: .2s;
    }
}

.logout-button {
    border-style: none;
    background-color: #323643;
    color: #ffffff;
    height: 3rem;
    transition: .2s;

    .logout-icon {
        font-size: 2rem;
    }
}

.logout-button:hover {
    background-color: #474d60;
    transition: .2s;
}