@use '../../../../../utilities/_colors.scss' as *;

.black-line {
    border: 0;
    height: .4rem;
    width: 75%;
    background: #323643;
    opacity: 100;
    padding: 0;
    margin: .7rem auto 1.3rem auto;
}

.menu-items {

    .menu-item {
        color: $primary_gray;
        transition: .2s;
        .menu-icon{
            font-size: 2.2rem;
            color: $primary_gray;
            transition: .2s;
        }
    }
    .menu-item:hover{
        box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.246);
        transition: .2s ease-in-out;
        color: $primary_dark;

         .menu-icon-container{
            color: $primary_white;
            transition: .1s ease-in-out;

             .menu-icon{
                background-color: $primary_dark;
                transition: .1s ease-in-out;
                color: $primary_white;
             }
         }
    }
}

.logout-button {
    border-style: none;
    background-color: $primary_dark;
    color: $primary_white;
    height: 3rem;
    transition: .2s;

    .logout-icon {
        font-size: 2rem;
    }
}

.logout-button:hover {
    background-color: #474d60;
    transition: .2s;
}