@use '../../../../utilities/_colors.scss' as *;

.dash_acc-cards-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    .dash_acc-card {
        margin: 3rem;
    }

    .dash_acc-setter {
        position: relative;
        width: 21.75rem;
        background: #fff;
        box-shadow: 0px 0px 10px 5px rgba(105, 105, 105, 0.313);
        -webkit-box-shadow: 0px 0px 10px 5px rgba(105, 105, 105, 0.313);
        -moz-box-shadow: 0px 0px 10px 5px rgba(105, 105, 105, 0.313);
        border-radius: 10px;
    }

    header {
        position: relative;
        width: 100%;
        height: 60px;
        border-top-left-radius: 10px;
            border-top-right-radius: 10px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: inherit;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &::before {
            -webkit-transform: skewY(-8deg);
            -moz-transform: skewY(-8deg);
            -ms-transform: skewY(-8deg);
            -o-transform: skewY(-8deg);
            transform: skewY(-8deg);
            -webkit-transform-origin: 100% 100%;
            -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &::after {
            -webkit-transform: skewY(8deg);
            -moz-transform: skewY(8deg);
            -ms-transform: skewY(8deg);
            -o-transform: skewY(8deg);
            transform: skewY(8deg);
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .dash_acc-icon-cont {
            position: absolute;
            left: 50%;
            top: 30px;
            margin-left: -50px;
            z-index: 5;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            background: #ccc;
            border: 3px solid #fff;

            .dash_acc-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                background-color: #fff;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

            }
        }
    }

    .savings {
        background-color: #93DEFF;
    }

    h3 {
        position: relative;
        margin: 80px 0 30px;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            margin-left: -15px;
            width: 30px;
            height: 1px;
            background: #000;
        }
    }

    .dash_acc-desc {
        padding: 0 1rem 2rem;
        text-align: center;
        line-height: 1.5;
        color: #777
    }
}

// Modal css
.dash_acc-nav-line {
    background-color: $primary_gray;
    height: 0.0938rem;
}

.dash_acc-nav-type {
    display: flex;
    align-items: center;
    width: auto;
    text-align: center;
    margin-right: 2.6rem;
    cursor: pointer;
}

.dash_acc-nav-type-active {
    border-bottom: 2px solid $primary_dark;
}

.border-left-division{
    border-left: 1px solid $secondary-gray-200;
}
.border-top-division{
    border-top: 1px solid $secondary-gray-200;
}
.border-bottom-division{
    border-bottom: 1px solid $secondary-gray-200;
}
.border-cover-2{
    border: 1px solid $secondary-gray-200;
}