
@use '../../../../utilities/_colors.scss' as *;
.black-line {
    border: 0;
    height: .4rem;
    width: 75%;
    background: #323643;
    opacity: 100;
    padding: 0;
    margin: .7rem auto 1.3rem auto;
}

.menu-items2 {
    .menu-item2 {
        color: $primary_gray;
        transition: .2s;
        cursor: pointer;

        .menu-icon2 {
            font-size: 2.2rem;
            color: #396EB0;
            transition: .2s;
        }

        &:hover {
            color: #2f5b91;
            transition: .2s ease-in-out;

            .menu-icon2 {
                color: #2f5b91;
                transition: .1s ease-in-ou
            }
        }
    }

    .menu-item-selected2 {
        box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.246);
        transition: .2s ease-in-out;
        color: $primary_dark;
        cursor: auto;

        .menu-icon-container2 {
            color: $primary_white;
            transition: .1s ease-in-out;

            .menu-icon2 {
                background-color: #396EB0;
                transition: .1s ease-in-out;
                color: $primary_white;
            }
        }
    }
}

.logout-button2 {
    border-style: none;
    background-color: #396EB0;
    color: $primary_white;
    height: 3rem;
    transition: .2s;

    .logout-icon {
        font-size: 2rem;
    }
}

.logout-button2:hover {
    background-color: #3468a8;
    transition: .2s;
}
.Display-dash-div {
    height: 100%;
    width: 100%;
}