.hover-back-arrow:hover{
    transform: translateX(-.2rem);
    transition: all .2s ease-in;
}
.cards-employee{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: .75rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 10px -3px rgba(145,145,145,0.75);

    .container-employee{     
        width: 76.5%;     
        border-radius: 2rem;
        padding: 2rem;
        border: 1px solid #707070;
        justify-content: center;
        align-items: center; 
        transform: translateX(6.5rem);

        .info-employee{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            transform: translateX(4rem);
            line-height:0;

            .info-employee1{
                margin-left: -1rem;
            }

            .info-employee2{
                margin-left: 2rem;
            }
        
            .info-employee3{
                transform: translateX(-5rem);
            }
        
            .line-employee{
                transform: translateX(16rem);
                margin-top: -1.5rem;
                hr{
                    
                    height: .1rem;
                    width:15%;
                    opacity: 100;
                    transform: rotate(90deg);
                    background-color: black;
                    
                }   
            }
        
            .line-employee2{
                transform: translateX(5.5rem);
                margin-top: -1.5rem;
                hr{
                    
                    height: .1rem;
                    width:18%;
                    opacity: 100;
                    transform: rotate(90deg);
                    background-color: black;
                    
                } 
                
            }
        }  
        
        .cards-employee{
            width: 30%;
            margin-left: 18rem;
            
            transform: translateY(2rem);
        }
    }

    .container-employee-2{      
        width: 90%;
        height: 60%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        transform: translateX(3.95rem);

        p{
            font-size: 1.5rem;
            text-align: center;
        }
        
        img{ 
            width: 15rem;
            display: block;
            margin: auto;
        }

        .tarjet-1{
            width: 40%;
            height: 80%;
            padding: 1rem;
            border: 1px solid #707070;
            border-radius: 1rem;
            transform: translateX(2.5rem);   
        }

        .tarjet-2{
            width: 40%;
            height: 80%;
            padding: 1rem;
            border: 1px solid #707070;
            border-radius: 1rem;
            transform: translateX(-7.2rem); 
        }
    }

    .button-cards-employee{
        display: flex;
        justify-content: space-between;
        transform: translateX(25.5rem);
        width: 23%;
        
        .button-employee{
            width: 8rem;
            height: 3rem;
            border-radius: 1rem;
            border: none;
            background-color: #396EB0;
            color: #fff;
        }
    }
    
}
.individual-req{
    display: grid;
    grid-template-columns: 43% 15% 25% 17%;
}
.individual-req-grid_2{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.individual-req-grid_3{
    display: grid;
    grid-template-columns: 50% 50%;
}
.individual-req-grid_4{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.individual-req-grid_5{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.individual-req-grid_6{
    display: grid;
    grid-template-columns: 22% 18% 20% 18% 22%;
}
.grid-layout_4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.border-cover{
    border: 1px solid #707070;
}
.border-subdivisions{
    border-right: 1px solid #707070;
}
.Image-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: #000000db;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}
.Image-modal.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.Image-modal img{
    width: 600px;
}
img-req-hover:hover{
    cursor: pointer;
}
.border-cover__4{
    border: 1px solid #DFDFDF;
}
@media (min-width: 1920px) {
    .Image-modal img{
        width: 57.5rem;
    }
}
