@use '../../../../../../utilities/_colors.scss' as *;

.container-deposits{
    // height: 60%;
    width: 37rem;
    display: flex;
    justify-content: center;
    background-color: $secondary-white;
    box-shadow: 0px 0px 15px 0px rgba(170, 170, 170, 0.75);

    .hola-deposits{
        width: 100%;
        background-color: #396EB0;
        color: #fff;
        font-size: 1.5rem;
        height: 3rem;
    }

    .separatee__1{
        // height: .1rem;
        width: 20%;
        opacity: 1;
        background-color: $secondary-gray_200;
        // margin-left: 1rem;
        // transform: translateY(-1rem);
        margin: 0;
    }

    label{
        font-family: 'Poppins', sans-serif;
        // margin-top: 2rem;
        // margin-left: 1rem;
        // margin-bottom: .5rem;
    }

    input{
        height: 2.5rem;
        border: 1px solid $secondary-gray_200;
        // background-color: $secondary-white;
        border-radius: 5px;
        // margin-left: 1rem;
        // margin-right: 1rem;
        // transform: translateY(-1.5rem);
    }

    form label:nth-of-type(2){
        margin-top: -0.8rem;
    }

    .btn-deposits-employee{
        border: none;
        height: 2.5rem;
        background-color: #396EB0;
        border-radius: 0.2rem;
        color: #fff;
        padding: 0 .5rem 0 .5rem ;
        // transform: translateY(-1.5rem);
    }

    .btn-deposits-employee:hover{
        opacity: 1;
        background: #477bba;
    }
}


// ConfirActiom.js scss

.container-confir_action{
    width: 100%;
    text-align: center;
    border-radius: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;

    img{
        width: 8rem;
        height: 8rem;
        display: block;
        margin: auto;
    }

    .number-account-employee{
        
    }

    .btn-confirm{
        width: 6rem;
        height: 2rem;
        background-color: #396EB0;
        color: #fff;
        border-radius: 0.75rem;
        border: none;
        transform: translateX(1rem);
    }
}