@use '../../../../../../utilities/_colors.scss' as *;

.emp-header-icons-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto;

    .user-info {
        .profile-img {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            overflow: hidden;
            box-shadow: 0px 0px 10px -3px rgba(145,145,145,0.75);

            img {
                width: 100%;
            }
        }
    }
}

.emp-header-icon2 {
    color: $secondary_gray;
    transition: .2s;
    cursor: pointer;
}
.emp-header-icon {
    color: $secondary_gray;
    transition: .2s;
    cursor: pointer;
}
.emp-hi-hover-1:hover {
    color: $secondary_gray;
    transition: .2s;
    animation: 2s bell-vibrate ease-in-out infinite;
}

.punto-notificacion {
    position: absolute;
}

@keyframes bell-vibrate {
    0% {
        transform: rotate(0);
    }

    4% {
        transform: rotate(8deg);
    }

    8% {
        transform: rotate(-8deg);
    }

    12% {
        transform: rotate(8deg);
    }

    16% {
        transform: rotate(-8deg);
    }

    20% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.emp-hi-hover-2:hover {
    transform: rotate(55deg);
    color: $secondary_gray;
    transition: .2s;
}