.request-employee-container{
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    padding: 2rem;
    background-color: #fff;

    .tittle-request p{
        font-size: 1.5rem;
        text-align: center;
    }

    .request-container{
        height: 100%;
        padding: 1rem;

        .request-card{
            margin: 0;
            height: 30%;
            border: 1px solid #707070;
            padding: 1rem;
            border-radius: .5rem;
            margin-bottom: 1rem;

            .button-request{
                float: right;
                width: 7rem;
                height: 3rem;
                border-radius: 2rem;
                border: none;
                background-color: #396EB0;
                color: #fff;
            }

            .desc-requets{
                border: 1px solid #707070;
                width: 20%;
            }
        }
    }
}